# Configuración de entornos

# Ambiente en el que está corriendo la app
ENV=dev

# Servidores según el entorno
BASE_URL_DEV=#https://tu-servidor.com
BASE_URL_STAGING=#https://tu-servidor.com
BASE_URL_PROD=#https://tu-servidor.com
BASE_URL=#https://tu-servidor.com
MAP_TILE_URL=#https://tu-proveedor-de-mapas

MAPS_API_KEY=#tu_api_key_de_google_maps
SENTRY_DSN=#tu_dsn_para_error_tracking

